<div class="page-wrapper">

  <!-- HEADER -->

 

  <!-- STATS -->

  <div class="state-grid">

    <div class="stat-card">

      <div class="stat-title">
        Total Users
      </div>

      <div class="stat-value">
        {{ totalUsers() }}
      </div>

      

    </div>

    <div class="stat-card">

      <div class="stat-title">
        Revenue
      </div>

      <div class="stat-value">
        $24K
      </div>

      <div class="stat-growth">
        +8% this month
      </div>

    </div>

    <div class="stat-card">

      <div class="stat-title">
        Active Sessions
      </div>

      <div class="stat-value">
        342
      </div>

      <div class="stat-growth">
        +5% today
      </div>

    </div>

    <div class="stat-card">

      <div class="stat-title">
        Conversion Rate
      </div>

      <div class="stat-value">
        78%
      </div>

      <div class="stat-growth">
        +3% this week
      </div>

    </div>

  </div>

  <!-- PROGRESS -->

  <div class="progress-section">

    <div class="progress-card">

      <div class="progress-header">

        <span>
          Monthly Target
        </span>

        <span>
          78%
        </span>

      </div>

      <div class="progress-bar">

        <div class="progress-fill">
        </div>

      </div>

    </div>

  </div>

  <!-- MAIN GRID -->

  <div class="dashboard-grid">

    <!-- CHART -->

    <div class="chart-card">

      <h3>
        Revenue Analytics
      </h3>

     <div class="chart-wrapper">

      <app-analytics-chart>
      </app-analytics-chart>

    </div>

    </div>

    <!-- ACTIVITY -->

    <div class="activity-card">

      <h3>
        Recent Activity
      </h3>

      @for(
        activity of activities;
        track activity.user
      ) {

        <div class="activity-item">

          <div class="activity-avatar">

            {{ activity.user.charAt(0) }}

          </div>

          <div>

            <div class="activity-user">

              {{ activity.user }}

            </div>

            <div class="activity-action">

              {{ activity.action }}

            </div>

          </div>

        </div>

      }

    </div>

  </div>

  <!-- NOTIFICATIONS -->

  <div class="notification-card">

    <h3>
      Notifications
    </h3>

    <div class="notification-item">

      New user registered

    </div>

    <div class="notification-item">

      Server backup completed

    </div>

    <div class="notification-item">

      Revenue increased by 8%

    </div>

  </div>

</div>