<div class="header">

  <div>

    <h2>
      Welcome Back 👋
    </h2>

    <p>
      Manage your enterprise dashboard
    </p>

  </div>

  <div class="header-actions">

    <!-- <select
      class="role-select"
      (change)="changeRole($event)">

      <option value="admin">

        Admin

      </option>

      <option value="manager">

        Manager

      </option>

      <option value="user">

        User

      </option>

    </select> -->

    <button
      class="theme-btn"
      (click)="toggleTheme()">

      @if(isDark()) {

        ☀️

      } @else {

        🌙

      }

    </button>

    <button
      class="logout-btn"
      (click)="logout()">

      Logout

    </button>

  </div>

</div>