<div class="table-wrapper">

  <table>

    <thead>

      <tr>

        <th>
          S.No
        </th>

        <th>
          User
        </th>

        <th>
          Email
        </th>

        <th>
          Role
        </th>

        <th>
          Status
        </th>

        <th>
          Actions
        </th>

      </tr>

    </thead>

    <tbody>

      @for(
        user of paginatedUsers;
        track user.id;
        let i = $index
      ) {

        <tr>

          <!-- S.NO -->

          <td>

            <div class="user-name">

              {{ startIndex + i + 1 }}

            </div>

          </td>

          <!-- USER -->

          <td>

            <div class="user-cell">

              <div class="avatar">

                {{ user.name.charAt(0) }}

              </div>

              <div>

                <div class="user-name">

                  {{ user.name }}

                </div>

              </div>

            </div>

          </td>

          <!-- EMAIL -->

          <td>

            {{ user.email }}

          </td>

          <!-- ROLE -->

          <td>

            <span
              class="role-badge"
              [class]="user.role">

              {{ user.role }}

            </span>

          </td>

          <!-- STATUS -->

          <td>

            <button
              class="status-badge"
              [class]="user.status"
              (click)="statusChange.emit(user)">

              {{ user.status }}

            </button>

          </td>

          <!-- ACTIONS -->

          <td>

            <div class="actions">

              @if(
                currentRole() === 'admin'
                ||
                currentRole() === 'manager'
              ) {

                <button
                  class="edit-btn"
                  (click)="edit.emit(user)">

                  Edit

                </button>

              }

              @if(
                currentRole() === 'admin'
              ) {

                <button
                  class="delete-btn"
                  (click)="delete.emit(user.id)">

                  Delete

                </button>

              }

              @if(
  currentRole() !== 'admin'
  &&
  currentRole() !== 'manager'
) {

                <span class="readonly-badge">

                  Read Only

                </span>

              }

            </div>

          </td>

        </tr>

      }

    </tbody>

  </table>

  <!-- PAGINATION -->

  <div class="pagination">

    <button
      [disabled]="currentPage === 1"
      (click)="prevPage()">

      Previous

    </button>

    <span>

      Page {{ currentPage }}

    </span>

    <button
      [disabled]="endIndex >= users.length"
      (click)="nextPage()">

      Next

    </button>

  </div>

</div>