<div class="table-wrapper">

  <table>

    <thead>

      <tr>

        <th>S.No</th>
        <th>User</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let user of paginatedUsers;
  let i = index;
  trackBy: trackByUser
">

        <!-- USER -->
        <td>
          <div class="user-name">
                {{ i+1 }}
              </div>
        </td>
        <td>

          <div class="user-cell">

            <!-- <div class="avatar">

              {{ user.name.charAt(0) }}

            </div> -->

            <div>

              <div class="user-name">
                {{ user.name }}
              </div>

              

            </div>

          </div>

        </td>

        <!-- EMAIL -->

        <td>
          {{ user.email }}
        </td>

        <!-- ROLE -->

        <td>

          <span
            class="role-badge"
            [ngClass]="user.role">

            {{ user.role }}

          </span>

        </td>

        <!-- STATUS -->

        <td>

        <button
        class="status-badge"
        [ngClass]="user.status"
        (click)="toggleStatus(user)">

        {{ user.status }}

      </button>

        </td>

        <!-- ACTIONS -->

        <td>

          <div class="actions">

            <button
              (click)="edit.emit(user)">

              Edit

            </button>

            <button
              class="delete-btn"
              (click)="delete.emit(user.id)">

              Delete

            </button>

          </div>

        </td>

      </tr>

    </tbody>

  </table>

  <!-- PAGINATION -->

  <div class="pagination">

    <button
      [disabled]="currentPage === 1"
      (click)="prevPage()">

      Previous

    </button>

    <span>

      Page {{ currentPage }}

    </span>

    <button
      [disabled]="endIndex >= users.length"
      (click)="nextPage()">

      Next

    </button>

  </div>

</div>