<div class="table-wrapper">

  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

  <tr *ngFor="let user of users; let i = index">

  <td>{{ i+1 }}</td>
  <td>{{ user.name }}</td>
  <td>{{ user.email }}</td>
  <td>{{ user.role }}</td>

  <td class="actions">

    <button (click)="edit.emit(user)">
      Edit
    </button>

    <button
      class="delete-btn"
      (click)="delete.emit(user.id)">

      Delete

    </button>

  </td>

</tr>

    </tbody>

  </table>

</div>