<div
  #messageContainer
  class="messages-container">

  <div class="chat-header">

    <div>

      <h3>

        # {{ activeChannel() }}

      </h3>

      <span
        class="channel-status">

        24 Members Online

      </span>

    </div>

    <button
      class="clear-btn"
      (click)="clearChat()">

      Clear Chat

    </button>

  </div>

  @if(loading()) {

    @for(
      item of [1,2,3,4];
      track item
    ) {

      <div
        class="message-skeleton">

        <div
          class="skeleton-avatar">
        </div>

        <div
          class="skeleton-content">

          <div
            class="skeleton-line">
          </div>

          <div
            class="skeleton-line short">
          </div>

        </div>

      </div>

    }

  } @else {

    @if(messages().length) {

      @for(
        message of messages();
        track $index
      ) {

        <div
          class="message-row">

          <div
            class="avatar">

            {{
              message.sender
              .charAt(0)
            }}

          </div>

          <div
            class="message-bubble">

            <div
              class="sender">

              {{
                message.sender
              }}

            </div>

            <div
              class="text">

              {{
                message.text
              }}

            </div>

            <div
              class="timestamp">

              {{
                message.timestamp
                | date:'shortTime'
              }}

            </div>

          </div>

        </div>

      }

    } @else {

      <div
        class="empty-chat">

        <div
          class="empty-icon">

          💬

        </div>

        <h3>

          No Messages Yet

        </h3>

        <p>

          Start the conversation

        </p>

      </div>

    }

  }

</div>