<div
  #messageContainer
  class="messages-container">

  <div class="chat-header">

  <h3>

    {{ activeChannel() }}

  </h3>

  <button
    class="clear-btn"
    (click)="clearChat()">

    Clear Chat

  </button>

</div>

  @if(loading()) {

    @for(
      item of [1,2,3,4];
      track item
    ) {

      <div
        class="message-skeleton">

        <div
          class="skeleton-avatar">
        </div>

        <div
          class="skeleton-content">

          <div
            class="skeleton-line">
          </div>

          <div
            class="skeleton-line short">
          </div>

        </div>

      </div>

    }

  } @else {

    @if(messages().length) {

      @for(
        message of messages();
        track $index
      ) {

        <div
          class="message">

          <div
            class="sender">

            {{ message.sender }}

          </div>

          <div
            class="text">

            {{ message.text }}

          </div>

          <div
            class="timestamp">

            {{
              message.timestamp
              | date:'shortTime'
            }}

          </div>

        </div>

      }

    } @else {

      <div
        class="empty-chat">

        No messages in this channel

      </div>

    }

  }

</div>