<div class="chat-sidebar">

  <h3>

    Teams

  </h3>

  @for(
    channel of channels();
    track channel
  ) {

    <div
      class="channel"
      [class.active]="
        activeChannel() === channel
      "
      (click)="
        selectChannel(
          channel
        )
      ">

      <div
        class="channel-info">

        <div>

          {{ channel }}

        </div>

        <small>

          {{
            lastMessage(
              channel
            )
          }}

        </small>

      </div>

      @if(
        unreadCounts()[channel]
        > 0
      ) {

        <span
          class="unread-badge">

          {{
            unreadCounts()[channel]
          }}

        </span>

      }

    </div>

  }

</div>