<div class="sidebar">

  <div class="logo-section">

    <div class="logo-box">
      W
    </div>

    <h2>
      WorkSphere
    </h2>

  </div>

 <nav>

  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{
      exact: true
    }">

    Dashboard

  </a>

@if(
  userRole === 'admin'
){

  <a
    routerLink="/users">

    Users

  </a>

}

  <a
    routerLink="/chat"
    routerLinkActive="active-link">

    Chat

  </a>

  <a routerLink="/settings">

  ⚙️ Settings

</a>

</nav>

</div>